#
# MANIFEST.in
# Manifest template for creating the source distribution.
#
# written by Markus F. X. J. Oberhumer <markus@oberhumer.com>
#
include COPYING
include Makefile
include NEWS
include tests/*.py
graft lzo-2.10