[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = "python-lzo"
version = "1.15"
description = "Python bindings for the LZO data compression library"
readme = "README.md"
requires-python = ">=2.6"
authors = [
    {name = "Markus F.X.J. Oberhumer", email = "markus@oberhumer.com"},
]
maintainers = [
    {name = "Joshua D. Boyd", email = "jdboyd@jdboyd.net"},
]
keywords = ["lzo", "compression"]
license = {text = "GNU General Public License v2 (GPLv2)"}
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU General Public License v2 (GPLv2)",
    "Topic :: Software Development :: Libraries",
    "Topic :: System :: Archiving :: Compression",
]

[project.optional-dependencies]
test = ["pytest"]

[project.urls]
Homepage = "https://github.com/jd-boyd/python-lzo"

[tool.cibuildwheel]
archs = ["all"]
build-verbosity = 3
test-requires = "pytest"
test-command = "pytest {package}/tests"
test-skip = "*-win_arm64 *-macosx_arm64 *-macosx_universal2:arm64"