name: Tests

on:
    push:

jobs:
  checks:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.7
          - 3.8
          - 3.9
          - pypy-3.6
          - pypy-3.7
        os:
          - ubuntu-latest
          - macos-10.15
          - macos-11
          - macos-12
#          - windows-latest
        exclude:
          - os: macos-latest
            python-version: 'pypy-3.6'
          - os: macos-10.15
            python-version: 'pypy-3.6'
          - os: macos-11
            python-version: 'pypy-3.6'
          - os: macos-12
            python-version: 'pypy-3.6'
          - os: macos-latest
            python-version: 'pypy-3.7'
          - os: macos-10.15
            python-version: 'pypy-3.7'
          - os: macos-11
            python-version: 'pypy-3.7'
          - os: macos-12
            python-version: 'pypy-3.7'
    runs-on:  ${{ matrix.os }}
    name: ${{ matrix.os }} @ ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - run: |
           if [ "$RUNNER_OS" == "Linux" ]; then
              sudo apt install liblzo2-dev
           else
              echo "$RUNNER_OS uses included lzo source"
              echo PWD: `pwd`
              echo LS lzo
              ls -l lzo-2.10/
              echo LS lzo include
              ls -l lzo-2.10/include/
              cd lzo-2.10
              ./configure --enable-shared --disable-dependency-tracking --prefix=`pwd`
              make
              make test &> test_results
              make install
              cd ..
              ls -l lzo-2.10/
              find ./lzo-2.10/ -name "*lzo2*"
           fi
           echo LZO SETUP DONE
      - run: python setup.py install
      - run: pip install pytest wheel
      - run: pytest --doctest-modules tests/
      - run: ls -l
      - run: python setup.py sdist bdist_wheel
